@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-ui-sans: "Figtree", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  --font-display-serif: "Newsreader", "Times New Roman", serif;
}

@layer base {
  * {
    @apply border-border-subtle;
  }

  body {
    @apply bg-bg-default text-text-main font-uiSans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-text-main;
  }

  p {
    @apply text-text-muted text-[16px] leading-[1.6];
  }
}
